* {
    padding: 0;
    margin: 0;
}
body {
    margin: 15px;
    font-size: 1.05em;
    line-height: 1.1em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
p {
    margin: 5px 0 0 10px;
}
.add {
    cursor: pointer;
    text-decoration: underline;
    color: rgb(31, 103, 236);
}